<form>
  <label for="email">Email address</label>
  <input
    type="text"
    id="email"
    name="email"
    placeholder="Enter email"
    ngModel
    email
    required
  />
  <small id="emailHelp">We'll never share your email with anyone else.</small>

  <label for="pwd">Password</label>
  <input
    type="password"
    id="pwd"
    placeholder="Password"
    name="password"
    ngModel
    required
  />

  <input
    type="checkbox"
    id="checkout"
    name="logged"
    ngModel
  />
  <label for="checkout">Stay logged in</label>

  <button
    type="submit"
  >
    Submit
  </button>
</form>
