/* li {
  display: inline;
  margin-left: 50px;
  color: black;
  background-color: aqua;
  padding: 10px 24px;
}

button {
  background-color: brown;
  border-radius: 10px;
  color: white;
  padding: 16;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 35px;
}

small {
  margin-left: 55px;
}

h2 {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}

article {
  background: rgb(252, 250, 250);
  margin-bottom: 40px;
  border-radius: 10px;
}
 */


 h1 {
  display: flex;
  justify-content: center;

 }

 .form {

display: flex;
justify-content: center;
 }
 

 .card {
  max-width: 1000px;
  width: 100%;
  
   }

   .container {
    margin:2rem auto;
   }