<section>
  <!-- <app-albums-details [show]="album"></app-albums-details> -->
<!-- <app-audio-player></app-audio-player> -->

<app-paginate></app-paginate>
<!-- <app-search></app-search> -->


<div class="form">
  
    <input type="search" [(ngModel)]="keyword" (keyup)="recherche(keyword)"  >
    <!-- <button class="btn btn-primary"  type="submit">Search</button> -->
</div>



<h1>Page principale Album</h1>
</section>

<div class="container">
  
  <div class="card mx-5 my-5" *ngFor="let album of albumslist" >
    <h5 class="card-header bg-primary text-light">{{ album.ref }}</h5>
    <div class="card-body">
      <h5 class="card-title" ><a routerLink="album/{{ album.id }}">{{ album.id }}-{{ album.title }}</a></h5>
      <p class="card-text">{{ album.description }}</p>
      <ul>
        <li class="badge text-bg-info mx-2 text-light" *ngFor="let tag of album.tags">
          <span>{{ tag }}</span>
        </li>
      </ul>
      <a href="#" class="btn btn-primary" >en</a>
      <small>💙{{ album.like }}</small>
      <small>⏱{{ album.duration }} min</small>
  
      <button class="btn btn-primary"  (click)="showAside(album.id)"  type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">Details</button>
  
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" ><a routerLink="album/{{ album.id }}">{{ album.id }}-{{ album.title }}</a></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <img src="{{album.url}}" alt="image">
      <p>{{album.description}}</p>
    
      </div>
      </div>
</div>

<!-- 
<article >
  <div class="card">
    <div class="card-header" ></div>
  </div>

  
  <div class="card-body" >
    <h2  class="card-title">
      <a routerLink="album/{{ album.id }}">{{ album.id }}-{{ album.title }}</a>
    </h2>
    <p  class="card-text">{{ album.description }}</p>
    <ul>
      <li *ngFor="let tag of album.tags">
        <span>{{ tag }}</span>
      </li>
    </ul>
    <a class="btn btn-primary" href="#">en</a>
    <small>💙{{ album.like }}</small>
    <small>⏱{{ album.duration }} min</small>
    <button (click)="showAside(album.id)">Details</button>
  </div>
</article> -->
