/* nav {
    background-color: pink;
display: flex;
text-align: center;
gap: 555px;
}
 
a {
    
    
}

li {
 display: flex;   
list-style:none ;
text-decoration:none;
display: inline;
}

ul {
    list-style-type: none;
  }
  
  */

 